:root {
    --primary: #ffffff;
    --background: #eeeeee;
    --text: #111111;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}